<html>
<head>
  <title>Attack form</title>
</head>
<body>
  <form action="/attack" method="post">
    Attacking country: <input type="text" name="attacking country">
    Defending country: <input type="text" name="defending country">
    <input type="submit" value="Attack">
  </form>
</body>
</html>