<head>
  <link rel="stylesheet" href="/css/jquery-jvectormap-2.0.1.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery-jvectormap-2.0.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery-jvectormap-europe-mill-en.js"></script>
</head>
<body>
  <div id="map" style="width: 100%; height: 90%"></div>
  <script>
    $(function(){
      $('#map').vectorMap({
        map: 'europe_mill_en',
        onRegionTipShow: function(e, el, code){
          el.html(el.html()+' (Armies - '+1+')');

        }
      })
    });
    
  </script>

  <div id="form" style="width: 100%; height: 10%">
    <form action="/attack" method="post">
      Attacking country: <input type="text" name="attacking country">
      Defending country: <input type="text" name="defending country">
      <input type="submit" value="Attack">
    </form>
  </div>

  <script>

    $(document).ready(function(){
      $.getJSON('http://localhost:9292/game_data', function(data) {
        data.countries.forEach(function(state) {
          $('svg path[data-code="' + state.country + '"]').attr('fill', state.color)
          $('svg path[data-code="' + state.country + '"]').hover(function() {
            $(this).attr('fill', 'black')}, function() {
              $(this).attr('fill', state.color)
            });
        });
      });
    });

  </script>

</body>