<!DOCTYPE html>
<html lang="en">
  <head>
   <script src='https://fgnass.github.io/spin.js/spin.js'></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>Domination</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body>

  
  <div id="loading"></div>
  <h1>Please wait for second player</h1>


  <script>
  var opts = {
  lines: 17, // The number of lines to draw
  length: 40, // The length of each line
  width: 30, // The line thickness
  radius: 0, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: 'white', // #rgb or #rrggbb or array of colors
  speed: 0.8, // Rounds per second
  trail: 54, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: '50%', // Top position relative to parent
  left: '50%' // Left position relative to parent
};
var target = document.getElementById('body');
var spinner = new Spinner(opts).spin(target);
</script>

<script>
var target = document.getElementById('loading');
var spinner = new Spinner(opts).spin(target);
</script>

</html>